.buttonicon-emb-mathjax {
  text-transform: none;
  font-weight: 800;
  font-size: 17px !important;
  font-family: monospace;
  margin-top: -3px;
}

#mathjaxSrc {
  width: 100%;
  margin: 10px 0;
}
.ep_mathjax-popup {
  left: 60%;
  position: absolute;
  z-index: 99;
  display: none;
}
